.gradient-background {
    background: linear-gradient(300deg, #00ADB5, #393E46, #222831);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .sub-header {
    position: sticky;
    z-index: 99;
    background-color: #00ADB5;
    top: 0;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #EEEEEE;
}

h1 {
    font-family: 'Architects Daughter', cursive;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #00ADB5;
}
.footer-link {
    color: #EEEEEE;

}
#social-links .nav-link {
    color: #222831;
}
#social-links .nav-link:hover {
    color: #EEEEEE;
}

body {
    background-color: #EEEEEE;
}


div>h2>span {
    text-decoration: underline;
}

#contact .nav-link {
    color: #EEEEEE;
    font-size: small
}

#contact .nav-link:hover {
    color: #00ADB5;
}

#contact p {
    color: #EEEEEE;
    font-size: xx-small;
}
