.gradient-background {
    background: linear-gradient(300deg, #00ADB5, #393E46, #222831);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
 
  .sub-header {
    position: sticky;
    z-index: 99;
    background-color: #00ADB5;
    top: 0;
    margin: 0;
    padding: 0;
}


h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #00ADB5;
}
.footer-link {
    color: #EEEEEE;

}
.sub-header .nav-link {
    color: #EEEEEE;
}
.sub-header .nav-link:hover {
    color: #393E46;
}

body {
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    color: #222831
}


div>h2>span {
    text-decoration: underline;
}

#contact .nav-link {
    color: #00ADB5;
    font-size: x-small
}

#contact .nav-link:hover {
    color: #EEEEEE;
}

#copyright {
    color: #EEEEEE;
    font-size: xx-small;
}

div .card {
    background-color: #EEEEEE;
    border: none;
    color: #222831;

}

.card-title {
    color: #00ADB5;
    font-family: 'Montserrat', sans-serif;
}

section#contact {
    background-color: #00ADB5;
    color: #222831;
}
section#contact>div>div>p {
    font-size: medium;
}

#contact-btn {
    color: #EEEEEE;
    background-color: #393E46;
}

#contact-btn:hover {
    border: 1px solid #00ADB5;
    color: #00ADB5;
}

.skill-icon {
    width: 2em;
    height: 2em;
    color: #EEEEEE;
    border-radius: 100%;
    background-color: #00ADB5;
    padding: 0.4em;
}